body {
  font-family: "Times New Roman", Times, serif;
  font-size : 20px;
  color : #58585F;
}

html {
  line-height: 1.5 !important;
}

a{
  color : #58585F;
}

.container {
  width : 90% !important;
}

.name{
  margin-bottom: 0rem !important;
}

.fName{
  color : #58585F;
}

.lName{
  color: #C00000;
}

.title{
  color : #58585F;
}

.details{
  background-color: #000000;
  color : #FFFFFF;
}

.details-inner{
  padding-top: 7px;
  margin-bottom: 7px;
  padding-right: 10px;
}

.border{
  border-bottom :2px solid #C00000;
}

.bold{
  font-size: 10px;
  font-weight: bolder !important;
}

td, th {
  padding-bottom: 5px !important;
}